.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(240, 240, 240);
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    padding-bottom: 0;
    margin: auto;
}
