.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-image {
  width: 200px;
  height: 200px;
  max-width: 100%;
  height: auto;
}
