.footer {
  background: #ffe53e;
  color: #000;
  display: flex;
  justify-content:space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 12px;
  margin: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.footer ul li {
  display: inline-block;
  margin-right: 32px;
}

.logo {
  max-width: 100px;
  max-height: 100px;
  max-width: 100%;
}

.text-contato{
  margin-right: 32px;
  font-size: xx-large;
}
